#output{
  border: 1px solid #333;
  padding: 0 10px;
}
#output section,
#output footer,
#output .loading {
  display: none;
}
#output .download h2{
  text-align: center;
}
@media screen and (max-width: 380px){
  #output .download h2{
    font-size: 20px;
  }
  #output .download p{
    font-size: 14px;
    line-height: 1.3
  }
}
